{% extends "base.html.twig" %}
{% block title %}Gestion des filieres
{% endblock %}
{% block body %}
	<div class="container mt-4">
		{% include "admin/partials/_message.html.twig" %}
		<h2 class="text-center">Gestion des filieres
			<a href="{{ path('admin_branch_new') }}" class="btn btn-success">
				<i class="fa fa-plus">
					Ajouter</i>
			</a>
		</h2>
		<table class="table table-hover table-bordered">
			<thead>
				<tr class="text-center">
					<th>ID</th>
					<th>Nom de la filiere</th>
					<th>Date</th>
					<th>Nombre du niveau</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for branch in pagination.data %}
					<tr class="text-center">
						<td>{{branch.id}}</td>
						<td>{{branch.name}}</td>
						<td>{{branch.createdAt | date('d/m/Y à H:i')}}</td>
						<td>{{branch.degrees | length }}</td>
						<td>
							<a href="{{ path('admin_branch_edit', {id: branch.id}) }}" class="btn btn-primary">
								<i class="fa fa-edit">
									Editer</i>
							</a>
							<a href="{{ path('admin_branch_delete', {id: branch.id}) }}" class="btn btn-danger">
								<i class="fa fa-trash">
									Supprimer</i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ pagination.display() }}
	</div>
{% endblock %}
